.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
  background-color: rgb(255, 251, 251);
}

img {
  width: 100%;
}

.globalnavigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;

}

/* forside */

.herobillede {
  position: relative;
  text-align: center;
}

.forsideoverskrift {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 38, 255);
  font-size: 70px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-evenly;
}


.footeroverskrift {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footerkontakt {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

/* ---------- Info-kort ---------- */
.kortraekke {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
}

.kort {
  position: relative;
  width: 240px;
  margin: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.adminkort {
  cursor: pointer;
}

/* .kort img {
  max-width: 100%;
} */

.kort .tekst {
  text-align: center;
  padding: 0 10px 50px;
}

.kort .tekst p:nth-of-type(1) {
  min-height: 65px;
}

.kort h3 {
  text-align: center;
  margin-bottom: 5px;
}

.laesmereknap {
  position: absolute;
  background: #ff9de8;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 42%;
  bottom: 10px;
  left: 10px;
  border: none;
}

.bestilknap {
  position: absolute;
  background: #d25497;
  border-radius: 5px;
  color: white;
  padding: 8px;
  width: 38%;
  bottom: 10px;
  right: 10px;
  border: none;
}

/* ---------------------------- */

/* -----------Form----------------- */